/* app css stylesheet */
/*

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
*/

.surveys{

}

.survey-form .btn.previous,
.survey-form .btn.next,
.survey-form .btn.submit{
  width: 75%;
  margin: 20px 0 0;
  padding: 8px;
}
.surveys .survey-item{
  display: block;
  padding: 4px;
  height: 115px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.surveys .survey-item a{
  text-decoration: none;
  color: black;
}
