<div class="survey-form">
    <h1>{{surveyForm.survey.title}}</h1>
    <h2>{{surveyForm.survey.description}}</h2>

    <survey-step step="surveyForm.currentQuestion" step-num="{{surveyForm.questionIndex+1}}"></survey-step>
    <div class="row">

        <div class="col-6">
            <button class="btn btn-primary previous" ng-click="surveyForm.showPrevious()"
                    ng-disabled="surveyForm.questionIndex == 0">Previous
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary next" ng-click="surveyForm.showNext()"
                    ng-disabled="!surveyForm.currentQuestion.isValid || surveyForm.questionIndex >= surveyForm.survey.steps.length - 1">
                Next
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn btn-primary submit" ng-click="surveyForm.submit()"
                    ng-disabled="!surveyForm.currentQuestion.isValid || surveyForm.questionIndex < surveyForm.survey.steps.length - 1">
                Submit
            </button>
        </div>
    </div>
</div>
